<div class="container">

  <!--見出し-->
  <div class="row justify-content-center mb-3">
    <div class="col-9 mb-3">
      <span class="h4 bg-light">　会員情報編集　</span>
    </div>
  </div>

  <!--バリデーションチェックの結果をエラーメッセージで表示-->
  <div class="row group" style="font-size: 20px; color: red;">
    <% if @customer.errors.any? %>
      <%= @customer.errors.count %>件のエラーがあります!
      <ul>
        <%@customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <!--会員情報編集のレイアウト-->
  <%= form_with model: @customer, url: customers_path, local: true do |f| %>

    <!--氏名-->
    <div class="row form-group">
      <div class="col-md-2">
        <%= f.label "氏名" %>
      </div>
      <div class="col-md-3 mr-3">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'form-control' %>
      </div>
      <div class="col-md-3 mr-3">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'form-control' %>
      </div>
    </div>

    <!--フリガナ-->
    <div class="row form-group">
      <div class="col-md-2">
        <%= f.label "フリガナ" %>
      </div>
      <div class="col-md-3 mr-3">
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: 'form-control' %>
      </div>
      <div class="col-md-3 mr-3">
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: 'form-control' %>
      </div>
    </div>

    <!--郵便番号-->
    <div class="row form-group">
      <div class="col-md-2">
        <%= f.label :postal_cod, "郵便番号" %>
      </div>
      <div class="col-md-3 mr-3">
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: 'form-control' %>
      </div>
    </div>

    <!--住所-->
    <div class="row form-group">
      <div class="col-md-2">
        <%= f.label :address, "住所" %>
      </div>
      <div class="col-md-7">
        <%= f.text_field :address, autofocus: true, autocomplete: "address", class: 'form-control' %>
      </div>
    </div>

  　<!--電話番号-->
    <div class="row form-group">
      <div class="col-md-2">
        <%= f.label :telephone_number, "電話番号" %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone", class: 'form-control' %>
      </div>
    </div>

    <!--メールアドレス-->
    <div class="row form-group">
      <div class="col-md-2">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    </div>

    <div class="row text-center">

　　  <!--保存ボタン-->
      <div class="col">
        <%= f.submit "編集内容を保存", class: "btn btn-success px-5" %>
      </div>
      <!--退会ボタン-->
      <div class="col">
        <%= link_to "退会する", unsubscribe_customers_path, class: "btn btn-danger" %>
      </div>
    </div>

  <% end %>


</div>

<!--フッター-->
<%= render '/layouts/footer' %>