<div class="container">

  <div class="row pt-3 pb-3">
    <h4><span>　商品編集　</span></h4>
  </div>

  <!--未入力の場合のエラーメッセージ表示-->
  <div class="row group" style="font-size: 20px; color: red;">
    <% if @item.errors.any? %>
      <%= @item.errors.count %>件の未入力があります!
    <% end %>
  </div>

  <div class="form-horizontal" role="form">
    <%= form_with model: @item, url:"/admin/items/#{@item.id}", local:true do |f| %>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :image, "商品画像", class: 'control-label' %>
        </div>
        <div class="col-sm-3 formFileMultiple">
          <%= f.attachment_field :image %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :name, "商品名", class: 'control-label' %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :introduction, "商品説明", class: 'control-label' %>
        </div>
        <div class="col-sm-4">
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :genre_id, "ジャンル", class: 'control-label' %>
        </div>
        <div class="col-sm-3">
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: " -- 選択してください -- ", class: 'form-select' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :price, "税抜価格", class: 'control-label' %>
        </div>
        <div class="col-sm-2">
          <p><%= f.number_field :price, class: 'form-control' %></p>
        </div>
        <div class="col-sm-2">
          円
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label "販売ステータス", class: 'control-label' %>
        </div>
        <div class="col-sm-2">
          <%= f.radio_button :is_active, "販売中", class: "item_is_active" %>
          <%= f.label :is_active, "販売中", class: "item_is_active" %>
        </div>
        <div class="col-sm-2">
          <%= f.radio_button :is_active, "販売停止中", class: "item_is_active" %>
          <%= f.label :is_active, "販売停止中", class: "item_is_active" %>
        </div>
      </div>

      <div class="form-group row justify-content-center">
          <%= f.submit '変更を保存',class: 'btn btn-success' %>
      </div>

    <% end %>

  </div>

</div>