<h1>商品詳細</h1>

<p><strong>商品画像</strong><%= attachment_image_tag @item, :image, :fill, 60, 60 %></p>

<p><strong>商品名</strong><%= @item.name %></p>
<p><strong>商品説明</strong><%= @item.introduction %></p>


<p><strong>ジャンル</strong><%= @genre.name %></p>

<p><strong>税抜価格</strong><%= @item.price %></p>

<p><strong>販売ステータス</strong><%= @item.is_active %></p>
