<div class="container w-50">
  
  <div class="row">
    <div class="col-md-12">
      <h4><span>　商品詳細　</span></h4>
    </div>
  </div>

  <div class="row w-70">
    
    <div class="col-md-5">
      <%= attachment_image_tag @item, :image, :fill, 200, 200 %>
    </div>
 
    <div class="col-md-7">
      
      <div class="row item_fild">
        <label for="item_name" class="col-md-4">商品名</label>
        <div id="item_name" class="col-md-7">
          <%= @item.name %>
        </div>
      </div>

      <div class="row item_fild">
        <label for="item_introduction" class="col-md-4">商品説明</label>
        <div id="item_introduction" class="col-md-7">
          <%= @item.introduction %>
        </div>
      </div>
      
      <div class="row item_fild">
        <label for="item_genre" class="col-md-4">ジャンル</label>
        <div id="item_genre" class="col-md-7">
          <%= @genre.name %>
        </div>
      </div>

      <div class="row item_fild">
        <label for="item_price" class="col-md-4">税込価格</label>
        <div id="item_price" class="col-md-7">
          <%= @item.price %><span>円</span>
        </div>
      </div>

      <div class="row item_fild">
        <label for="item_is_active" class="col-md-4">販売ステータス</label>
        <div id="item_is_active" class="col-md-7">
          <%= @item.is_active %>
        </div>
      </div>
      
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-success' %>
    </div>
  </div>

</div>