<div class="container-md">

  <div class="flex-row justify-content-center mx-auto info-message">
      ようこそながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員ではない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要となります。<br>
  </div>

  <div class="row">
    <h4>新着商品</h4>
  </div>
  
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-3">
        <%= link_to item_path(item.id) do %>
        <div class="items m-3">
          <%= attachment_image_tag item, :image, :fill, 100, 100, class: 'item-image' %>
          <% end %>
        </div>
        <div class="items m-3">
          <%= item.name %>
        </div>
        <div class="items m-3">
          ￥<%= item.with_tax_price %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row float-right">
    <%= link_to "全ての商品を見る>", items_path %>
  </div>

</div>