<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 mb-3">
      <span class="h4 bg-light">　注文履歴詳細　</span>
    </div>
  </div>

　<!--注文履歴詳細の購入者情報の表示-->
  <div class="row">
    <label class="col-md-2 p-2">購入者</label>
    <div class="col-md-10 p-2"><%= link_to @customer.last_name + " " + @customer.first_name, admin_customer_path(@customer.id), class: "text-dark link_text" %></div>
  </div>

  <div class="row">
    <label class="col-md-2 p-2">注文日</label>
    <div class="col-md-10 p-2"><%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></div>
  </div>

  <div class="row">
    <label class="col-md-2 p-2">配送先</label>
    <div class="col-md-10 p-2"><%= "〒" + @order.postal_code + " " + @order.address %><br><%= @order.name %></div>
  </div>

  <div class="row">
    <label class="col-md-2 p-2">郵便番号</label>
    <div class="col-md-10 p-2"><%= @order.payment_method_i18n %></div>
  </div>

  <div class="row">
    <label class="col-md-2 p-2">注文ステータス</label>
    <div class="col-md-5 p-2">
      <%= form_with model: @order, url: "/admin/orders/#{@order.id}", method: :patch, loacl:true do |f| %>
      <%= f.select :order_status, Order.order_statuses_i18n.invert %>
      <%= f.submit '更新', class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

　<!--注文履歴詳細の購入商品の表示-->
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.subtotal %></td>
            <td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch, loacl:true do |f| %>
              <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
              <%= f.submit '更新', class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!--購入商品の合計金額表示-->
    <div class="col">
      <div class="row">
        <label class="col-md-4 p-2">商品合計</label>
        <div class="col-md-6 p-2"><%= @sum.to_s(:delimited) + "円" %></div>
      </div>
      <div class="row">
        <label class="col-md-4 p-2">送料</label>
        <div class="col-md-6 p-2"><%= @order.shipping_cost.to_s + "円" %></div>
      </div>
      <div class="row">
        <label class="col-md-4 p-2">請求金額</label>
        <div class="col-md-6 p-2"><%= @order.total_payment.to_s(:delimited) + "円" %></div>
      </div>
    </div>
  </div>


</div>

<!--フッター-->
<%= render '/layouts/footer' %>