<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 mb-3">
      <span class="h4 bg-light">　注文履歴一覧　</span>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr class="table-light">
          <th class="col-md-2">購入日時</th>
          <th class="col-md-3">購入者</th>
          <th class="col-md-2">購入個数</th>
          <th class="col-md-2">注文ステータス</th>
        </tr>
      </thead>
      <tbody  class="table">
        <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M"), admin_order_path(order), class: "text-dark link_text" %></td>
          <td><%= order.name %></td>
          <!--sumメソッドで個数合計を計算-->
          <td><%= order.order_details.sum(:amount) %></td>
          <td><%= order.order_status_i18n %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-center">
    <%= paginate(@orders) %>
  </div>

</div>