<div class="container">

  <div class="row">
    <div class="row pt-3 pb-3">
      <h4><span>　配送先一覧　</span></h4>
    </div>
  </div>

  <!--未入力の場合のエラーメッセージ表示-->
  <div class="row group" style="font-size: 20px; color: red;">
    <% if @address.errors.any? %>
      <%= @address.errors.count %>件の未入力があります!
    <% end %>
  </div>

  <div class="form-horizontal" role="form">
    <%= form_with model: @address, url: address_path, local:true do |f| %>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :postal_code, "郵便番号", class: 'control-label' %>
        </div>
        <div class="col-sm-2">
          <%= f.text_field :postal_code, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :address, "住所", class: 'control-label' %>
        </div>
        <div class="col-sm-5">
          <%= f.text_field :address, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :name, "宛名", class: 'control-label' %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-1">
          <%= f.submit '変更内容を保存',class: 'btn btn-success' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
