<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 mb-3">
      <span class="h4 bg-light">　配送先一覧　</span>
    </div>
  </div>

  <!--未入力の場合のエラーメッセージ表示-->
  <div class="row group" style="font-size: 20px; color: red;">
    <% if @address.errors.any? %>
      <%= @address.errors.count %>件の未入力があります!
    <% end %>
  </div>

  <div class="form-horizontal" role="form">
    <%= form_with model: @address, url: addresses_path, local:true do |f| %>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :postal_code, "郵便番号", class: 'control-label' %>
        </div>
        <div class="col-sm-2">
          <%= f.text_field :postal_code, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :address, "住所", class: 'control-label' %>
        </div>
        <div class="col-sm-5">
          <%= f.text_field :address, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :name, "宛名", class: 'control-label' %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-1">
          <%= f.submit '新規登録',class: 'btn btn-success' %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td class="col-md-3">
            <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-primary" %>
            <%= link_to "削除する", address_path(address.id), class: "btn btn-danger", method: :delete, "data-confirm" => "配送先を削除しますか？"  %></td>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>
