<div class="container w-50">

  <div class="row">
    <div class="col-md-9">
      <h4><span>　ショッピングカート　</span></h4>
    </div>
    <div class="col-md-3">
      <%= link_to 'カートを空にする', destroyall_cart_items_path, class: 'Destroy', method: :delete, "data-confirm" => "カートを空にしますか？" %>
    </div>
  </div>

  <p id="notice">
    <%= notice %> <!-- サクセスメッセージの表示 -->
  </p>



  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 20, 20 %><%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
            <% @sum += cart_item.subtotal %>
            <td><%= link_to '削除する', cart_item_path(cart_item.id), class: 'Destroy', method: :delete, "data-confirm" => "Are you sure？" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <p>合計金額 <%= @sum %></p>



</div>