    <div class="col-md-9">
      <h4><span>　注文情報確認　</span></h4>
    </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 20, 20 %><%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <%= @order.payment_method_i18n %>
      <%= @order.postal_code %>
      <%= @order.address %>
      <%= @order.name %>

      <p>送料 800</p>
      <p>商品合計 <%= @sum %></p>
      <p>合計金額 <%= @total_payment %></p>


      <%= form_with model: @order, url: '/orders', method: :post, local: true do |f| %>
      	<%= f.submit '注文を確定する' %>
      <% end %>
