<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 mb-3">
      <span class="h4 bg-light">　注文履歴詳細　</span>
    </div>
  </div>


  <div class="row">
    <div class="col-md-7">
      <label>注文情報</label>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="table-active col-md-3">注文日</th>
            <td><%= l @order.created_at, format: :long  %></td>
          </tr>
          <tr>
            <th class="table-active">配送先</th>
            <td>
              <%= "〒" + @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <th class="table-active">支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th class="table-active">ステータス</th>
            <td><%= @order.order_status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <label>請求情報</label>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="table-active">商品合計</th>
            <td><%= @sum %></td>
          </tr>
          <tr>
            <th class="table-active">送料</th></th>
            <td><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <th class="table-active">請求金額</th>
            <td><%= @order.total_payment.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <label>注文内容</label>
      <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_detail.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.subtotal.to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>


<%= render '/layouts/footer' %>
