<h4><span>注文履歴詳細</span></h4>
<table>
  <tbody>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= @order.postal_code %></td>
      <td><%= @order.address %><br></td>
      <td><%= @order.name %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td><%= @order.order_status_i18n %></td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <th>商品合計</th>
      <td><%= @sum %></td>
    </tr>
    <tr>
      <th>送料</th></th>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%= @order.total_payment %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>商品</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.item.with_tax_price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.subtotal %></td>
    </tr>
    <% end %>
  </tbody>
</table>