<div class="container">
  <div class="row pt-3 pb-3">
    <h4><span>ログイン</span></h4>
  </div>

  <div class="pt-3 pb-3">
    <h5><span>会員の方はこちらからログイン</span></h5>
  </div>


  <div class="form-horizontal" role="form">
    <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :email, 'メールアドレス', class: 'control-label' %>
        </div>
        <div class="col-sm-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.label :password, 'パスワード', class: 'control-label' %>
        </div>
        <div class="col-sm-2">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="pt-3 pb-3">
    <h5><span>会員登録がお済でない方</span></h5>
  </div>

  <div class="pt-3 pb-3">
    <%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。
  </div>

</div>

