<div class="container">
  <div class="row mx-auto">

     <!--ジャンル検索サイドバー設置-->
    <div class="col-xs-5 sidebar">
      <%= render 'genre' %>
    </div>

    <!--メインコンテンツ-->
    <div class="col">

      <!--商品一覧の見出し-->
      <div class="row ml-5">
        <h4><span>　商品一覧　</span></h4><span>(全<%= @itemscount %>件)</span>
      </div>

      <!--商品一覧の表示-->
      <div class="row p-5">
        <% @items.each do |item| %>
          <div class="col-3">
            <div class="items m-3">
              <%= link_to item_path(item.id) do %>
              <%= attachment_image_tag item, :image, :fill, 200, 150 %>
              <% end %>
            </div>
            <div class="items">
              <%= item.name %>
            </div>
            <div class="items">
              <%= "￥" + item.with_tax_price.to_s(:delimited) %>
            </div>
          </div>
        <% end %>
      </div>

      <!--ページネーション-->
      <div class="row justify-content-center">
        <%= paginate(@items) %>
      </div>

    </div>

  </div>
</div>